<!DOCTYPE html>

<!-- 
Red Wings -- Cameron Nelson, Sophie Liu, Daniel Sooknanan
SoftDev
K14 -- Form and Function 
2021-10-14
--> 

<html>

  <body>
    <header style="position:fixed;right:0;top:0;width:100%;text-align:right;padding:2%;background-color:#e0e0e0;text-decoration:underline;">
      {{ username }}
    </header>

    <footer style="position:fixed;left:0;bottom:0;width:100%;text-align:left;padding:2%;background-color:#e0e0e0;">
      Red Wings &#8212; Cameron Nelson, Sophie Liu, Daniel Sooknanan
    </footer>
  </body>
  
</html>
